*{
    box-sizing: border-box;
  }
  
  body{
    background-image: url(https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?size=626&ext=jpg&ga=GA1.1.1889362282.1683289123&semt=ais_user_b);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    }
    .navbar{
        background-color: rgb(58, 143, 218);
        border-radius:20px;
        }
        .navbar ul{
            overflow: auto;
        }
        .navbar li{
        float: left;
        list-style: none;
        margin: 13px 20px;
        } 
        .navbar li a{
            padding: 3px 3px;
            text-decoration:none ;
            color: white;
            padding-top: 3px;
        
        }
        .navbar li a:hover{
        color: blue;
        }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #bde0f5;
    padding: 25px;
    border: 1px solid #0d69be;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #05bcea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #033d66;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .remember {
    display: flex;
    align-items: center;
  }
  
  .forgot-password {
    color: #007bff;
    text-decoration: none;
  }
  
  a {
    color: #1f79ef;
    text-decoration: none;
  }
  .php-output {
    text-align: center;
    margin-top: 20px;
}

  footer{
    background: #60b5f3;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    }